.list-group-item {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* button {
  cursor: pointer;
  background-color: blue;
  width: 60px;
  padding: 5px 10px;
  border-radius: 5%;
} */
